<!--@subject Subject Of your email  @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

<table>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Order <span class="no-link">#%increment_id</span>' increment_id=$orderNumber |raw}}</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="email-items">
                <thead>
                    <tr>
                        <th class="item-info">{{trans "Sku"}}</th>
                        <th class="item-info">{{trans "Name"}}</th>
                        <th class="item-info">{{trans "Qty"}}</th>
                        <th class="item-info">{{trans "Total"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{var items|raw}}
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="totals">
        <td>
            <h2>{{var totals|raw}}</h2>
        </td>
    </tr>
</table>